@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    font-family: 'Oswald', sans-serif;
}

h1,h2,p{
    font-family: 'Oswald', sans-serif;
}

.top{
    height:10vh;
    background-color: aquamarine;
}